<nav
  class="bg-white fixed top-0 left-0 w-full border-b-[1px] border-b-[#E5E5E5] lg:mb-12"
>
  <div class="mx-auto max-w-[1200px] lg:px-8 md:px-[27px] sm:px-[16px]">
    <div class="relative flex h-[58px] items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center lg:hidden">
        <button
          type="button"
          class="relative cursor-pointer inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-[#eceff3] hover:text-[#0E1420] focus:ring-2 focus:ring-[#0E1420] focus:outline-hidden focus:ring-inset"
          aria-controls="mobile-menu"
          aria-expanded="false"
          (click)="toggleMobileMenu()"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg
            class="block size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <svg
            class="hidden size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <div
        class="flex flex-1 items-center justify-center lg:items-stretch lg:justify-start"
      >
        <div class="flex shrink-0 items-center lg:mr-24">
          <img
            class="w-[30px] lg:w-[42px]"
            [src]="'assets/icons/angular.svg'"
            alt="angular"
          />
        </div>

        <div class="hidden md:ml-6 min-[1024px]:block">
          <div class="flex">
            <a
              [routerLink]="['/users']"
              class="rounded-md mr-[72px] px-6 py-[10px] text-[15px] font-medium text-[#0E1420] hover:bg-[#eceff3] cursor-pointer"
              >Users</a
            >
            <a
              (click)="userRoute()"
              class="rounded-md px-6 py-[10px] text-[15px] font-medium text-[#0E1420] hover:bg-[#eceff3] cursor-pointer"
              >User</a
            >
          </div>
        </div>
      </div>

      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <div class="relative ml-3 dropDown">
          <div>
            <a (click)="toggleDropdown()">
              <img
                class="cursor-pointer lg:w-[30px] w-[22px]"
                [src]="'assets/icons/profile.svg'"
                alt="angular"
              />
            </a>
          </div>
          <div
            id="dropdown"
            class="absolute right-0 z-10 mt-2 w-28 origin-top-right rounded-md bg-white py-1 ring-1 shadow-lg ring-black/5 focus:outline-hidden"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
            [ngClass]="
              isDropdownOpen()
                ? 'transition ease-out duration-300 transform opacity-100 scale-100'
                : 'transition ease-in duration-75 transform opacity-0 scale-90'
            "
          >
            <a
              (click)="signOut()"
              class="px-3 py-2 text-sm text-gray-700 cursor-pointer flex justify-between items-center z-50"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-2"
              ><p>Sign out</p>

              <i class="pi pi-sign-out" style="font-size: 12px"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div
  id="mobile-menu"
  class="lg:hidden fixed inset-0 bg-white transition-all duration-500 ease-in-out md:px-[27px] sm:px-[16px] px-3"
  [ngClass]="isMenuOpen() ? 'max-h-full z-50' : 'max-h-0 overflow-hidden -z-30'"
>
  <div
    class="flex justify-between items-center h-[58px] border-b-[#E5E5E5] border-b-2"
  >
    <div class="flex shrink-0 items-center lg:mr-24">
      <img class="w-[30px]" [src]="'assets/icons/angular.svg'" alt="angular" />
    </div>
    <button
      title="button"
      class="p-1 cursor-pointer"
      (click)="closeMobileMenu('button')"
    >
      <i
        class="pi pi-times text-[#989898] text-[14px] hover:text-[#0E1420] cursor-pointer"
      ></i>
    </button>
  </div>
  <div class="space-y-1 pt-[25px]">
    <a
      (click)="closeMobileMenu('users')"
      [routerLink]="['/users']"
      class="block rounded-md px-3 py-2 text-base font-medium text-[#0E1420] hover:bg-[#eceff3] cursor-pointer mb-1"
    >
      Users
    </a>
    <a
      (click)="closeMobileMenu('user')"
      class="block rounded-md px-3 py-2 text-base font-medium text-[#0E1420] hover:bg-[#eceff3] cursor-pointer"
      >User</a
    >
  </div>
</div>
