<div class="flex justify-center pt-[106px] max-[640px]:pt-[90px] bg-[#F9FAFB]">
  <div
    class="max-w-[500px] w-full px-[30px] py-10 max-[640px]:px-4 max-[640px]:py-8 bg-white rounded-[14px]"
  >
    <h2 class="text-[22px] font-bold mb-8 text-[#000000]">User</h2>
    @if(message()){

    <app-notification-component
      [message]="message()"
      (onClose)="onClose()"
      [severity]="severity()"
    ></app-notification-component
    >}
    <form [formGroup]="userForm" (ngSubmit)="submit()" class="mb-4">
      <div class="mb-[14px]">
        <label for="name" class="text-sm font-normal font-baloo">Name</label>
        <input
          type="text"
          pInputText
          formControlName="name"
          class="w-full h-[52px] mt-[6px]"
          name="name"
          id="name"
        />
        @if(name.invalid&&(name.dirty ||name.touched)){
        @if(name.hasError('required') ){
        <p-message severity="error" variant="simple" styleClass="small-error"
          >Name is required</p-message
        >
        }@else if (name.hasError('pattern')) {
        <p-message severity="error" variant="simple"
          >Name must contain only alphabetic characters.</p-message
        >
        }@else if(name.hasError('minlength')){
        <p-message severity="error" variant="simple"
          >Name must be at least 2 characters long.</p-message
        >
        } }
      </div>

      <div class="mb-[14px]">
        <label for="email" class="text-sm font-normal font-baloo">Email</label>
        <input
          class="w-full h-[52px] mt-[6px]"
          type="text"
          pInputText
          formControlName="email"
          name="email"
          id="email"
        />
        @if(email.invalid&&(email.dirty ||email.touched)){
        @if(email.hasError('required') ){
        <p-message severity="error" variant="simple" styleClass="small-error"
          >Email is required</p-message
        >
        }@else if (email.hasError('pattern')) {
        <p-message severity="error" variant="simple"
          >Please enter a valid email address</p-message
        >
        }@else if(email.hasError('emailNotUnique')){
        <p-message severity="error" variant="simple"
          >This email is already registered.</p-message
        >
        } }
      </div>

      <div class="mb-[14px]">
        <label for="password" class="text-sm font-normal mb-2 font-baloo"
          >password</label
        >
        <p-password
          formControlName="password"
          [feedback]="false"
          inputId="password"
          [toggleMask]="userAccess()"
          inputStyleClass="w-full"
          styleClass="w-full h-[52px]  mt-[6px]"
        />
        @if(password.invalid&&(password.dirty ||password.touched)){
        @if(password.hasError('required') ){
        <p-message severity="error" variant="simple" styleClass="small-error"
          >Password is required</p-message
        >
        }@else{ @if (password.hasError('pattern')) {
        <p-message severity="error" variant="simple">
          • Password must contain at least one special character.</p-message
        >
        } @if(password.hasError('minlength')){
        <p-message severity="error" variant="simple"
          >• Password must be at least 8 characters long.</p-message
        >
        } @if(password.hasError('noUpperCase')){
        <p-message severity="error" variant="simple">
          • Password must contain at least one uppercase letter.</p-message
        >
        } @if(password.hasError('noNumber') ){
        <p-message severity="error" variant="simple">
          • Password must contain at least one number.</p-message
        >
        } } }
      </div>
      <div class="mb-[16px]">
        <label for="confirmPassword" class="text-sm font-normal mb-2 font-baloo"
          >Confirm Password</label
        >
        <p-password
          formControlName="confirmPassword"
          [feedback]="false"
          inputId="confirmPassword"
          [toggleMask]="userAccess()"
          inputStyleClass="w-full"
          styleClass="w-full h-[52px]  mt-[6px]"
        />
        @if(confirmPassword.invalid&&(confirmPassword.dirty
        ||confirmPassword.touched)){ @if(confirmPassword.hasError('required') ){
        <p-message severity="error" variant="simple" styleClass="small-error"
          >ConfirmPassword is required</p-message
        >
        }@else if (userForm.get('confirmPassword')?.invalid) {
        <p-message severity="error" variant="simple"
          >The passwords don't match.</p-message
        >
        } }
      </div>
      <div class="flex gap-2 mb-6">
        @for (role of roles; track $index) {
        <div>
          <p-radiobutton
            [inputId]="role.key"
            [value]="role"
            formControlName="role"
          />
          <label [for]="role.key" class="text-sm font-normal ml-2 font-baloo">{{
            role.name
          }}</label>
        </div>
        }
      </div>

      <div class="flex">
        @if(!isEditing()){
        <div class="grid grid-cols-3 gap-4 max-[640px]:gap-3">
          <p-button
            id="save"
            type="submit"
            (onClick)="toggleEditState('save')"
            [raised]="true"
            styleClass="w-full mt-6"
            severity="secondary"
            [disabled]="!this.userForm.valid"
          >
            <div class="flex items-center justify-between">
              <i class="pi-bookmark pi mr-2" style="color: white"></i>
              <p class="text-white text-base font-medium">Save</p>
            </div>
          </p-button>
          <p-button
            type="button"
            id="delate"
            [raised]="true"
            (onClick)="toggleEditState('delate')"
            styleClass="w-full mt-6"
            severity="secondary"
          >
            <div class="flex items-center justify-between">
              <i class="pi-trash pi mr-2" style="color: white"></i>
              <p class="text-white text-base font-medium">Delate</p>
            </div>
          </p-button>
          <p-button
            id="cancel"
            type="button"
            (onClick)="toggleEditState('cancel')"
            [raised]="true"
            styleClass="w-full mt-6"
            severity="secondary"
          >
            <div class="flex items-center justify-between">
              <i class="pi-times pi mr-2" style="color: black; width: 18px"></i>
              <p class="text-black text-base font-medium">Cancel</p>
            </div>
          </p-button>
        </div>

        } @if(isEditing()){
        <div class="justify-end flex w-full">
          <p-button
            id="edit"
            type="button"
            (onClick)="toggleEditState('edit')"
            [raised]="true"
            styleClass="w-full mt-6"
            severity="secondary"
            [disabled]="!isAdmin() && !userAccess()"
          >
            <div class="flex items-center justify-between">
              <i class="pi pi-pencil mr-2" style="color: #6558f2"></i>
              <p class="text-[#6558F2] text-base font-medium">Edit</p>
            </div>
          </p-button>
        </div>
        }
      </div>
    </form>
  </div>
</div>
