<div
  class="flex justify-center items-start pt-[110px] min-h-screen max-[640px]:pt-[88px]"
>
  <div
    class="w-[500px] px-[30px] pt-10 pb-14 bg-[#FFFFFF] rounded-xl max-[640px]:max-w-[350px] max-[640px]:mx-[16px] max-[640px]:p-[0]"
  >
    <div>
      <p
        class="flex justify-center text-[#000000] font-bold text-[32px] mb-10 max-[640px]:text-[30px] max-[640px]:mb-[40px]"
      >
        Sign up
      </p>
    </div>
    @if(message()){

    <app-notification-component
      [message]="message()"
      (onClose)="onClose()"
      [severity]="severity()"
    ></app-notification-component
    >}

    <form [formGroup]="registerForm" (ngSubmit)="submit()" class="w-full">
      <div class="mb-[14px]">
        <input
          placeholder="name"
          type="text"
          pInputText
          formControlName="name"
          class="w-full h-[52px]"
          name="name"
          id="name"
        />
        @if(name.invalid&&(name.dirty ||name.touched)){
        @if(name.hasError('required') ){
        <p-message severity="error" variant="simple" styleClass="small-error"
          >Name is required</p-message
        >
        }@else if (name.hasError('pattern')) {
        <p-message severity="error" variant="simple"
          >Name must contain only alphabetic characters.</p-message
        >
        }@else if(name.hasError('minlength')){
        <p-message severity="error" variant="simple"
          >Name must be at least 2 characters long.</p-message
        >
        } }
      </div>

      <div class="mb-[14px]">
        <input
          placeholder="Email"
          type="text"
          pInputText
          formControlName="email"
          class="w-full h-[52px]"
          name="email"
          id="email"
        />
        @if(email.invalid&&(email.dirty ||email.touched)){
        @if(email.hasError('required') ){
        <p-message severity="error" variant="simple" styleClass="small-error"
          >Email is required</p-message
        >
        }@else if (email.hasError('pattern')) {
        <p-message severity="error" variant="simple"
          >Please enter a valid email address</p-message
        >
        }@else if(email.hasError('emailNotUnique')){
        <p-message severity="error" variant="simple"
          >This email is already registered.</p-message
        >
        } }
      </div>

      <div class="mb-[14px]">
        <p-password
          placeholder="Password"
          formControlName="password"
          [feedback]="false"
          inputId="password"
          [toggleMask]="true"
          inputStyleClass="w-full"
          styleClass="w-full h-[52px]"
        />
        @if(password.invalid&&(password.dirty ||password.touched)){
        @if(password.hasError('required') ){
        <p-message severity="error" variant="simple" styleClass="small-error"
          >Password is required</p-message
        >
        }@else{ @if (password.hasError('pattern')) {
        <p-message severity="error" variant="simple">
          • Password must contain at least one special character.</p-message
        >
        } @if(password.hasError('minlength')){
        <p-message severity="error" variant="simple"
          >• Password must be at least 8 characters long.</p-message
        >
        } @if(password.hasError('noUpperCase')){
        <p-message severity="error" variant="simple">
          • Password must contain at least one uppercase letter.</p-message
        >
        } @if(password.hasError('noNumber') ){
        <p-message severity="error" variant="simple">
          • Password must contain at least one number.</p-message
        >
        } } }
      </div>
      <div class="mb-8">
        <p-password
          placeholder="ConfirmPassword"
          formControlName="confirmPassword"
          [feedback]="false"
          inputId="confirmPassword"
          [toggleMask]="true"
          inputStyleClass="w-full"
          styleClass="w-full h-[52px]"
        />
        @if(confirmPassword.invalid&&(confirmPassword.dirty
        ||confirmPassword.touched)){ @if(confirmPassword.hasError('required') ){
        <p-message severity="error" variant="simple" styleClass="small-error"
          >ConfirmPassword is required</p-message
        >
        }@else if (registerForm.get('confirmPassword')?.invalid) {
        <p-message severity="error" variant="simple"
          >The passwords don't match.</p-message
        >
        } }
      </div>
      <p-button
        type="submit"
        [raised]="true"
        styleClass="w-full h-[48px] mb-[40px]"
        [disabled]="registerForm.invalid"
        ><p class="text-[#FFFFFF] text-[16px] font-medium">Log in</p></p-button
      >
      <div class="flex justify-center text-[14px] font-sans font-normal">
        <span class="pr-1 text-[#989898]">Don’t have an account ? </span>
        <a routerLink="/login" class="text-[#6558F2] font-medium"> Sign in</a>
      </div>
    </form>
  </div>
</div>
